<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>	
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>

<script src="/js/app/login.js"></script>
<script src="/js/app/code-group.js"></script>
<script src="/js/app/code-detail.js"></script>
<script src="/js/app/member.js"></script>
<script src="/js/app/setup-admin.js"></script>
<script src="/js/app/board.js"></script>
<script src="/js/app/notice.js"></script>
<script src="/js/app/item.js"></script>
<script src="/js/app/coin.js"></script>
<script src="/js/app/useritem.js"></script>
<script src="/js/app/pds.js"></script>

<body>
	<h2 th:text="#{common.homeWelcome}"></h2>
	
	<p th:text="${serverTime}">시간 표시</p>
	
	<hr>

	<h3>Login</h3>
	
	<table>
		<tr>
			<td><label for="userId">userId</label></td>
			<td><input type="text" value="hongkd" id="userId"></td>
		</tr>
		<tr>
			<td><label for="password">password</label></td>
			<td><input type="text" value="1234" id="password"></td>
		</tr>
	</table>	
	
	<div>
		<button id="loginBtn">login</button> <button id="myInfoBtn">myInfo</button>
	</div>
	
	<hr>
	
	<h3>CodeGroup</h3>
	
	<table>
		<tr>
			<td><label for="groupCode">groupCode</label></td>
			<td><input type="text" value="" id="groupCode"></td>
		</tr>
		<tr>
			<td><label for="groupName">groupName</label></td>
			<td><input type="text" value="" id="groupName"></td>
		</tr>
	</table>

	<div>
		<button id="codeGroupListBtn">LIST</button>
		<button id="codeGroupReadBtn">READ</button>
		<button id="codeGroupRegisterBtn">REGISTER</button>
		<button id="codeGroupDeleteBtn">DELETE</button>
		<button id="codeGroupModifyBtn">MODIFY</button>
		<button id="codeGroupResetBtn">RESET</button>
	</div>
	
	<hr>
	
	<h3>CodeDetail</h3>
	
	<table>
		<tr>
			<td><label for="codeGroupCode">groupCode</label></td>
			<td><select id="codeGroupCode"></select></td>
		</tr>
		<tr>
			<td><label for="codeValue">codeValue</label></td>
			<td><input type="text" value="" id="codeValue"></td>
		</tr>
		<tr>
			<td><label for="codeName">codeName</label></td>
			<td><input type="text" value="" id="codeName"></td>
		</tr>
	</table>

	<div>
		<button id="codeDetailListBtn">LIST</button>
		<button id="codeDetailReadBtn">READ</button>
		<button id="codeDetailRegisterBtn">REGISTER</button>
		<button id="codeDetailDeleteBtn">DELETE</button>
		<button id="codeDetailModifyBtn">MODIFY</button>
		<button id="codeDetailResetBtn">RESET</button>
	</div>
	
	<hr>	
	
	<h3>Member</h3>
	
	<table>
		<tr>
			<td><label for="userNo">userNo</label></td>
			<td><input type="text" value="" id="userNo"></td>
		</tr>	
		<tr>
			<td><label for="memberId">userId</label></td>
			<td><input type="text" value="" id="memberId"></td>
		</tr>
		<tr>
			<td><label for="memberPw">userPw</label></td>
			<td><input type="text" value="" id="memberPw"></td>
		</tr>
		<tr>
			<td><label for="memberName">userName</label></td>
			<td><input type="text" value="" id="memberName"></td>
		</tr>
		<tr>
			<td><label for="job">job</label></td>
			<td><select id="job"></select></td>
		</tr>
		<tr>
			<td>auth - 1</td>
			<td>
				<select id="memberAuth0">
					<option value="" selected="selected">=== 선택해 주세요 ===</option>
					<option value="ROLE_USER">사용자</option>
					<option value="ROLE_MEMBER">회원</option>
					<option value="ROLE_ADMIN">관리자</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>auth - 2</td>
			<td>
				<select id="memberAuth1">
					<option value="" selected="selected">=== 선택해 주세요 ===</option>
					<option value="ROLE_USER">사용자</option>
					<option value="ROLE_MEMBER">회원</option>
					<option value="ROLE_ADMIN">관리자</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>auth - 3</td>
			<td>
				<select id="memberAuth2">
					<option value="" selected="selected">=== 선택해 주세요 ===</option>
					<option value="ROLE_USER">사용자</option>
					<option value="ROLE_MEMBER">회원</option>
					<option value="ROLE_ADMIN">관리자</option>
				</select>
			</td>
		</tr>			
	</table>
	
	<div>
		<button id="memberListBtn">LIST</button>
		<button id="memberReadBtn">READ</button>
		<button id="memberRegisterBtn">REGISTER</button>
		<button id="memberDeleteBtn">DELETE</button>
		<button id="memberModifyBtn">MODIFY</button>
		<button id="memberResetBtn">RESET</button>
	</div>
	
	<hr>
	
	<h3>Setup Admin</h3>
	
	<table>
		<tr>
			<td><label for="adminId">userId</label></td>
			<td><input type="text" value="" id="adminId"></td>
		</tr>
		<tr>
			<td><label for="adminPw">userPw</label></td>
			<td><input type="text" value="" id="adminPw"></td>
		</tr>
		<tr>
			<td><label for="adminName">userName</label></td>
			<td><input type="text" value="" id="adminName"></td>
		</tr>		
	</table>
	
	<div>
		<button id="adminRegisterBtn">REGISTER</button>
		<button id="adminResetBtn">RESET</button>
	</div>
	
	<hr>
	
	<h3>Board</h3>
	
	<table>
		<tr>
			<td><label for="boardNo">boardNo</label></td>
			<td><input type="text" value="" id="boardNo"></td>
		</tr>
		<tr>
			<td><label for="boardTitle">title</label></td>
			<td><input type="text" value="" id="boardTitle"></td>
		</tr>
		<tr>
			<td><label for="boardContent">content</label></td>
			<td><textarea id="boardContent"></textarea></td>
		</tr>
		<tr>
			<td><label for="boardWriter">writer</label></td>
			<td><input type="text" value="" id="boardWriter"></td>
		</tr>	
	</table>
	
	<div>
		<button id="boardListBtn">LIST</button>
		<button id="boardReadBtn">READ</button>
		<button id="boardRegisterBtn">REGISTER</button>
		<button id="boardDeleteBtn">DELETE</button>
		<button id="boardModifyBtn">MODIFY</button>
		<button id="boardResetBtn">RESET</button>
	</div>
	
	<hr>
	
	<h3>Notice</h3>
	
	<table>
		<tr>
			<td><label for="noticeNo">noticeNo</label></td>
			<td><input type="text" value="" id="noticeNo"></td>
		</tr>
		<tr>
			<td><label for="noticeTitle">title</label></td>
			<td><input type="text" value="" id="noticeTitle"></td>
		</tr>
		<tr>
			<td><label for="noticeContent">content</label></td>
			<td><textarea id="noticeContent"></textarea></td>
		</tr>
	</table>

	<div>
		<button id="noticeListBtn">LIST</button>
		<button id="noticeReadBtn">READ</button>
		<button id="noticeRegisterBtn">REGISTER</button>
		<button id="noticeDeleteBtn">DELETE</button>
		<button id="noticeModifyBtn">MODIFY</button>
		<button id="noticeResetBtn">RESET</button>
	</div>
	
	<hr>
	
	<h3>Item</h3>

	<table>
		<tr>
			<td><label for="itemId">itemId</label></td>
			<td><input type="text" value="" id="itemId"></td>
		</tr>
		<tr>
			<td><label for="itemName">itemName</label></td>
			<td><input type="text" value="" id="itemName"></td>
		</tr>
		<tr>
			<td><label for="itemPrice">price</label></td>
			<td><input type="text" value="" id="itemPrice"></td>
		</tr>		
		<tr>
			<td><label for="itemDescription">description</label></td>
			<td><textarea id="itemDescription"></textarea></td>
		</tr>
		<tr>
			<td><label for="itemInputFile">original file</label></td>
			<td><input type="file" name="picture" id="itemInputFile" /></td>
		</tr>
		<tr>
			<td></td>
			<td><div id="preview"><img src="" width="210" height="50"></div></td>
		</tr>		
		<tr>
			<td><label for="itemInputFile2">preview file</label></td>
			<td><input type="file" name="picture" id="itemInputFile2" /></td>
		</tr>	
		<tr>
			<td></td>
			<td><div id="preview2"><img src="" width="210" height="50"></div></td>
		</tr>
	</table>

	<div>
		<button id="itemListBtn">LIST</button>
		<button id="itemReadBtn">READ</button>
		<button id="itemRegisterBtn">REGISTER</button>
		<button id="itemDeleteBtn">DELETE</button>
		<button id="itemModifyBtn">MODIFY</button>
		<button id="itemResetBtn">RESET</button>
		<button id="itemDownloadBtn">DOWNLOAD</button>
		<button id="itemBuyBtn">BUY</button>
	</div>
	
	<hr>
	
	<h3>Coin</h3>

	<table>
		<tr>
			<td><label for="coinAmount">amount</label></td>
			<td><input type="text" value="1000" id="coinAmount"></td>
		</tr>
	</table>

	<div>
		<button id="coinChargeListBtn">LIST CHARGE</button>
		<button id="coinPayListBtn">LIST PAY</button>
		<button id="coinChargeBtn">CHARGE</button>
		<button id="coinResetBtn">RESET</button>
	</div>

	<hr>
	
	<h3>UserItem</h3>

	<table>
		<tr>
			<td><label for="userItemNo">itemNo</label></td>
			<td><input type="text" value="" id="userItemNo"></td>
		</tr>
		<tr>
			<td><label for="userItemName">itemName</label></td>
			<td><input type="text" value="" id="userItemName"></td>
		</tr>	
		<tr>
			<td><label for="userItemDescription">description</label></td>
			<td><textarea id="userItemDescription"></textarea></td>
		</tr>
		<tr>
			<td>file</td>
			<td>
				<div id="userItemPreview"><img src="/item/display?itemId=10" width="210" height="50"></div>
			</td>
		</tr>
	</table>

	<div>
		<button id="userItemListBtn">LIST</button>
		<button id="userItemReadBtn">READ</button>
		<button id="userItemResetBtn">RESET</button>
		<button id="userItemDownloadBtn">DOWNLOAD</button>
	</div>
	
	<hr>
	
	<h3>Pds</h3>

	<table>
		<tr>
			<td><label for="pdsItemId">itemId</label></td>
			<td><input type="text" value="" id="pdsItemId"></td>
		</tr>
		<tr>
			<td><label for="pdsItemName">itemName</label></td>
			<td><input type="text" value="" id="pdsItemName"></td>
		</tr>	
		<tr>
			<td><label for="pdsItemDescription">description</label></td>
			<td><textarea id="pdsItemDescription"></textarea></td>
		</tr>
		<tr>
			<td><label for="pdsInputFile">file</label></td>
			<td>
				<input type="file" id="pdsInputFile" />
				<div class="uploadedList"></div>
			</td>
		</tr>
	</table>

	<div>
		<button id="pdsItemListBtn">LIST</button>
		<button id="pdsItemReadBtn">READ</button>
		<button id="pdsItemRegisterBtn">REGISTER</button>
		<button id="pdsItemDeleteBtn">DELETE</button>
		<button id="pdsItemModifyBtn">MODIFY</button>
		<button id="pdsItemResetBtn">RESET</button>
	</div>
</body>
</html>
